.modalContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.25rem;
  width: 15rem;
  min-height: 7.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0.625);
  animation: showUp 0.3s forwards;
}

.deleteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deleteContainer h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.deleteContainer p {
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.buttonsContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
  background: #eee;
  color: #333;
}

.buttonsContainer button:hover {
  background: #333;
  color: #fff;
}

.buttonsContainer .deleteAlbumButton {
  background: #eee;
  color: #c41e3a;
}

.buttonsContainer .deleteAlbumButton:hover {
  background: #c41e3a;
  color: #fff;
}

.buttonsContainer .deleteAlbumButton:disabled {
  opacity: 0.5;
  cursor: progress;
}

.error {
  color: #ff6347;
  font-size: 0.875rem;
  text-align: center;
  font-weight: bold;
}

.success {
  color: #7ba05b;
  font-size: 0.875rem;
  text-align: center;
  font-weight: bold;
}

@keyframes showUp {
  to {
    transform: initial;
  }
}
