.main {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.inputContainer {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.inputContainer input {
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  flex: 1;
}

.inputContainer button {
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 3rem;
  color: #fff;
  background-color: #387ef2;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.inputContainer button:hover {
  background-color: #335999;
}

.album {
  display: flex;
  flex-direction: column;
}

.album h2 {
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.5rem 0.25rem;
  transition: 0.3s;
  border-radius: 0.25rem;
}

.album h2:hover {
  background: #666;
  color: #fff;
}

.album table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 0.75rem;
}

.album table tr {
  padding: 1rem;
}

.album table th,
td {
  text-align: left;
}

.album table th:last-child,
.album table td:last-child {
  text-align: right;
}

.addAlbumButton {
  margin-top: auto;
  margin-left: auto;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: 0.3s;
  background: #fff;
}

.addAlbumButton:hover {
  background: #666;
  color: #fff;
}
